/WSPermissions/PermissionsWSDL/target/
/WSPermissions/WSPermissions-ear/target/
/WSPermissions/WSPermissions-ejb/target/
/WSPermissions/WSPermissions-web/target/
/WSPermissions/WSPersmissionJPA/target/